fastapi
uvicorn
opensearch-py
sqlalchemy
pydantic
passlib[bcrypt]
bcrypt==3.2.0
PyJWT
psycopg2-binary
python-multipart
openai
boto3
dotenv
pypdf2
python-docx
aiofiles
numpy
sentence-transformers
faiss-cpu